<%= turbo_frame_tag "contest_setup_content" do %>
  <div class="flex justify-between">
    <h2>Schedule</h2>

    <%= link_to "Modify",
    contest_setup_path(@contest),
    class: "btn-secondary-sm",
    data: {
      turbo_frame: "contest_setup_content",
    } %>
  </div>

  <div class="pt-6">
    <% if current_user.manager? && current_user.managed_contests&.exists?(@contest.id) && @contest.performance_phases&.length == 0 %>
      <%= render partial: "unscheduled" %>
    <% else %>
      <ol class="list-decimal text-sm">
        <% @contest.performance_phases&.each do |phase| %>
          <li>
            <div class="flex justify-between border-b">
              <div>
                <%= phase.name %>
                -
                <%= phase.duration %>
                min.
              </div>
              <div>
                <%= phase.room.name %>
                -
                <%= phase.room.room_number %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
<% end %>
