<%= turbo_frame_tag "contest_setup_content" do %>
  <div data-controller="contest-setup">
    <div class="flex justify-between">
      <h2>Schedule Setup</h2>

      <%= link_to "Done",
      contest_schedule_summary_path(@contest),
      class: "btn-secondary-sm",
      data: {
        turbo_frame: "contest_setup_content",
      } %>
    </div>

    <div class="tabs">
      <button
        class="tab-button active"
        data-contest-setup-target="tab"
        data-action="click->contest-setup#selectTab"
        data-target="contest_room_tab"
      >Rooms</button>
      <button
        class="tab-button"
        data-contest-setup-target="tab"
        data-action="click->contest-setup#selectTab"
        data-target="contest_phase_tab"
      >Phases</button>
    </div>

    <div class="tab-content bg-white">
      <div
        id="contest_room_tab"
        class="tab-pane active"
        data-contest-setup-target="pane"
      >
        <%= turbo_frame_tag "contest_room_content" do %>
          <div>
            <%= render partial: "contests/rooms/room_list", locals: { rooms: @contest.rooms } %>
          </div>
        <% end %>
      </div>

      <div
        id="contest_phase_tab"
        class="tab-pane hidden"
        data-contest-setup-target="pane"
      >
        <%= turbo_frame_tag "contest_phase_content" do %>
          <div>
            <%= render partial: "contests/performance_phases/phase_list" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
