<div class="py-8" id="show_<%= dom_id @contest %>">
  <div class="flex flex-col sm:flex-row">
    <h1><%= @contest.name %></h1>

    <% if current_user.tenant_admin? %>
      <div class="action-button-container">
        <%= link_to "Edit", edit_contest_path(@contest), class: "btn-secondary" %>
        <%= button_to "Delete",
        @contest,
        method: :delete,
        class: "btn-danger",
        form: {
          data: {
            turbo_confirm: "Are you sure?",
          },
        } %>
      </div>
    <% end %>
  </div>

  <%= render @contest %>

  <div class="pt-6">
    <%= turbo_frame_tag "contest_setup_content" do %>
      <div class="flex justify-between">
        <h2>Schedule</h2>

        <% if current_user.manager? && current_user.managed_contests&.exists?(@contest.id) %>
          <%= link_to "Modify",
          contest_setup_path(@contest),
          class: "btn-secondary-sm",
          data: {
            turbo_frame: "contest_setup_content",
          } %>
        <% end %>
      </div>

      <div class="pt-6">
        <ol class="list-decimal text-sm">
          <% @contest.performance_phases&.each do |phase| %>
            <li>
              <div class="flex justify-between border-b">
                <div>
                  <%= phase.name %>
                  -
                  <%= phase.duration %>
                  min.
                </div>
                <div>
                  <%= phase.room.name %>
                  -
                  <%= phase.room.room_number %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
