<div class="py-8" id="show_<%= dom_id @contest %>">
  <div class="flex flex-col sm:flex-row">
    <h1><%= @contest.name %></h1>

    <% if current_user.tenant_admin? %>
      <div class="action-button-container">
        <%= link_to "Edit", edit_contest_path(@contest), class: "btn-secondary-sm" %>
        <%= button_to "Delete",
        @contest,
        method: :delete,
        class: "btn-danger-sm",
        form: {
          data: {
            turbo_confirm: "Are you sure?",
          },
        } %>
      </div>
    <% end %>
  </div>

  <%= render @contest %>

  <div class="pt-8">
    <div class="flex justify-between">
      <h2>Schedule</h2>

      <%= link_to "View Full Schedule",
      @schedule,
      class: "btn-secondary-sm",
      data: {
        turbo_frame: "_top",
      } %>
    </div>

    <div class="pt-6">
      <% if current_user.manages_contest(@contest.id) && @contest.performance_phases&.length == 0 %>
        <%= render partial: "no_setup" %>
      <% else %>
        <ol class="list-decimal text-sm pl-4">
          <% @contest.performance_phases&.each do |phase| %>
            <li>
              <div class="flex justify-between border-b">
                <div>
                  <%= phase.name %>
                  -
                  <%= phase.duration %>
                  min.
                </div>
                <div>
                  <%= phase.room.name %>
                  -
                  <%= phase.room.room_number %>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>

    <%# TODO: only show if director has conducted groups that are elibiglbe for the contest %>
    <% if current_user.director? %>
      <div class="py-8">
        <h2>Entries</h2>

        <div class="pt-6">
          <%= render partial: "my_entries",
          locals: {
            entries: @contest.contest_entries.where(user_id: current_user.id),
          } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
