<div class="py-8" id="show_<%= dom_id @contest %>">
  <div class="flex flex-col sm:flex-row">
    <h1><%= @contest.name %></h1>

    <% if current_user.tenant_admin? %>
      <div class="action-button-container">
        <%= link_to "Edit", edit_contest_path(@contest), class: "btn-secondary" %>
        <%= button_to "Delete",
        @contest,
        method: :delete,
        class: "btn-danger",
        form: {
          data: {
            turbo_confirm: "Are you sure?",
          },
        } %>
      </div>
    <% end %>
  </div>

  <%= render @contest %>

  <div class="pt-6">
    <%= link_to sanitize("Schedule &rarr;"), contest_schedules_path(@contest) %>
  </div>
</div>
