<ul role="list" class="divide-y divide-gray-100">
  <% @contests.each do |contest| %>
    <li class="flex items-center justify-between gap-x-6 py-5">
      <div class="min-w-0">
        <div class="flex items-start gap-x-3">
          <p class="font-semibold text-gray-900"><%= contest.name %></p>
          <p
            class="
              hidden mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs
              font-medium text-green-700 ring-1 ring-inset ring-green-600/20
            "
          >Complete</p>
        </div>

        <div class="mt-1 gap-x-2 text-xs/5 text-gray-500">
          <%= contest.contest_start&.strftime("%A %-m/%d/%Y") %>
          <% if contest.contest_start&.to_date != contest.contest_end&.to_date %>
            -
            <%= contest.contest_end&.strftime("%A %-m/%d/%Y") %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-none items-center gap-x-4">
        <% if current_user.contest_entries.exists?(contest_id: contest.id) %>
          <%= link_to "View Entry",
          contest_entry_path(
            contest_id: contest.id,
            id: current_user.contest_entries.find_by(contest_id: contest.id).id,
          ),
          class: "btn-secondary-sm" %>
        <% else %>
          <%= link_to "Register",
          new_contest_entry_path(contest_id: contest.id),
          class: "btn-primary-sm" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
