<%= form_with(model: user, class: "simple-form") do |form| %>
  <% if user.errors.any? %>
    <%= render "layouts/error_messages", errors: user.errors %>
  <% end %>

  <div>
    <strong>Email address</strong>
    <p><%= user.email %></p>
  </div>

  <div>
    <%= form.label :first_name, "First name" %>
    <%= form.text_field :first_name, class: "text-field" %>
  </div>

  <div>
    <%= form.label :last_name, "Last name" %>
    <%= form.text_field :last_name, class: "text-field" %>
  </div>

  <div>
    <%= form.label :time_zone, "Time zone" %>
    <%= form.select :time_zone,
                ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] },
                { include_blank: "Select a time zone" },
                { required: true, class: "text-field" } %>
  </div>

  <div>
    <%= form.label :role_ids, "Roles" %>
    <%= form.collection_select :role_ids,
                           Role.all.order(:name),
                           :id,
                           :name,
                           { required: true },
                           { multiple: true, class: "multi-select" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
