<%= form_with(url: url, model: user, class: "wide-form") do |form| %>
  <%= render "shared/form_wrapper",
      form: form,
      submit_text: submit_text,
      cancel_path: user.persisted? ? user_path(user) : users_path,
      entity: user do %>
    
    <div class="sm:col-span-2">
      <% if user.id? %>
        <strong>Email address</strong>
        <p><%= user.email %></p>
      <% else %>
        <%= form.label :email, style: "display: block" %>
        <%= form.email_field :email,
                         autofocus: true,
                         required: true,
                         autocomplete: "email",
                         class: "text-field" %>
      <% end %>
    </div>

    <div>
      <%= form.label :first_name, "First name" %>
      <%= form.text_field :first_name,
                      autofocus: true,
                      required: true,
                      class: "text-field" %>
    </div>

    <div>
      <%= form.label :last_name, "Last name" %>
      <%= form.text_field :last_name, required: true, class: "text-field" %>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :role_ids, "Roles", style: "display: block" %>
      <div class="flex flex-col space-y-2 border border-gray-400 bg-white shadow p-4 rounded-md">
        <div class="-mt-2"></div>
        <%= form.collection_checkboxes :role_ids,
                                   roles,
                                   :id,
                                   :name do |helper| %>
          <%= helper.label do %>
            <%= helper.check_box %><span class="ml-2"><%= helper.label %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :time_zone, "Time zone" %>
      <%= form.select :time_zone,
                  [
                    ["Eastern Time (US & Canada)", "America/New_York"],
                    ["Central Time (US & Canada)", "America/Chicago"],
                    ["Mountain Time (US & Canada)", "America/Denver"],
                    ["Pacific Time (US & Canada)", "America/Los_Angeles"],
                    ["Alaska Time (US & Canada)", "America/Anchorage"],
                    ["Hawaii Time (US & Canada)", "Pacific/Honolulu"],
                    ["Atlantic Time (Canada)", "America/Halifax"],
                    ["Central Time (Canada)", "America/Winnipeg"],
                    ["Mountain Time (Canada)", "America/Edmonton"],
                    ["Pacific Time (Canada)", "America/Vancouver"]
                  ],
                  { include_blank: "Select a time zone", selected: user.time_zone },
                  { required: true, class: "text-field" } %>
    </div>
  <% end %>
<% end %>

<script>
  function setDefaultTimeZone() {
    const defaultTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    const time_zone_field = document.querySelector("#user_time_zone")
    if (time_zone_field && !time_zone_field.value) {
      time_zone_field.value = defaultTimeZone;
    }
  }

  document.addEventListener("turbo:render", setDefaultTimeZone);
</script>
