<%= form_with(url: url, model: user, class: "wide-form") do |form| %>
  <div class="sm:col-span-2">
    <% if user.id? %>
      <strong>Email address</strong>
      <p><%= user.email %></p>
    <% else %>
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email,
                       autofocus: true,
                       required: true,
                       autocomplete: "email",
                       class: "text-field" %>
    <% end %>
  </div>

  <div>
    <%= form.label :first_name, "First name" %>
    <%= form.text_field :first_name,
                    autofocus: true,
                    required: true,
                    class: "text-field" %>
  </div>

  <div>
    <%= form.label :last_name, "Last name" %>
    <%= form.text_field :last_name, required: true, class: "text-field" %>
  </div>

  <div>
    <%= form.label :role_ids, "Roles", style: "display: block" %>
    <div
      class="
        flex flex-col space-y-2 border border-gray-400 bg-white shadow p-4 rounded-md
      "
    >
      <div class="-mt-2"></div>
      <%= form.collection_checkboxes :role_ids,
                                 roles,
                                 :id,
                                 :name do |helper| %>
        <%= helper.label do %>
          <%= helper.check_box %><span class="ml-2"><%= helper.label %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="flex justify-between">
      <%= form.label :school_ids, "Schools", style: "display: block" %>
      <span class="text-sm text-gray-500">(Optional)</span>
    </div>

    <%= form.collection_select :school_ids,
                           organizations,
                           :id,
                           :name,
                           { multiple: true },
                           { class: "text-field" } %>
  </div>

  <div class="sm:col-span-2">
    <%= form.label :time_zone, "Time zone" %>
    <%= form.select :time_zone,
                ActiveSupport::TimeZone
                  .us_zones
                  .sort_by(&:name)
                  .map { |tz| [tz.name, tz.tzinfo.name] },
                { include_blank: "Select a time zone", selected: @user.time_zone },
                { required: true, class: "text-field" } %>

  </div>

  <div class="form-button-container">
    <%= form.submit submit_text, class: "btn-primary" %>
    <%= link_to "Cancel", users_path, class: "btn-secondary", role: "button" %>
  </div>

  <% if user.errors.any? %>
    <%= render "layouts/error_messages", errors: user.errors %>
  <% end %>
<% end %>

<script>
  function setDefaultTimeZone() {
    const defaultTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    const time_zone_field = document.querySelector("#user_time_zone")
    if (time_zone_field && !time_zone_field.value) {
      time_zone_field.value = defaultTimeZone;
    }
  }

  document.addEventListener("turbo:render", setDefaultTimeZone);
</script>
