<div class="simple-form-container">
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Sign up</h1>

  <%= form_with(url: sign_up_path, class: "simple-form") do |form| %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email,
                       value: @user.email,
                       required: true,
                       autofocus: true,
                       autocomplete: "email",
                       class: "text-field" %>
    </div>

    <div>
      <%= form.label :password, style: "display: block" %>
      <%= form.password_field :password,
                          required: true,
                          autocomplete: "new-password",
                          class: "text-field" %>
      <div>12 characters minimum.</div>
    </div>

    <div>
      <%= form.label :password_confirmation, style: "display: block" %>
      <%= form.password_field :password_confirmation,
                          required: true,
                          autocomplete: "new-password",
                          class: "text-field" %>
    </div>

    <div>
      <%= form.label :time_zone, style: "display: block" %>
      <%= form.select :time_zone,
                  ActiveSupport::TimeZone.all.map { |tz| [tz.name, tz.name] },
                  { include_blank: "Select a time zone" },
                  { required: true, class: "text-field" } %>
    </div>

    <div>
      <%= form.submit "Sign up", class: "btn-primary" %>
    </div>
  <% end %>
</div>
