<% content_for :title, "Schedule" %>
<div class="py-8 space-y-4" id="contest_schedule">
  <div class="flex justify-between">
    <h2>Schedule</h2>
  </div>

  <div
    id="schedule"
    class="px-4 rounded-md bg-white border border-neutral-200 shadow-2xs"
  >
    <% if @contest.start_time == nil || @contest.end_time == nil %>
      <p class="text-center pt-4">Set performance start and end times to begin</p>
      <div class="simple-form-container">
        <%= form_with model: @contest, url: contest_times_path(@contest), method: :patch, class: "simple-form" do |f| %>
          <div class="grid grid-cols-2 gap-2">
            <%= f.label :start_time %>
            <%= f.time_field :start_time, value: @contest.start_time, class: "text-field" %>

            <%= f.label :end_time %>
            <%= f.time_field :end_time, value: @contest.end_time, class: "text-field" %>
          </div>
          <div class="col-span-2 mx-auto">
            <%= f.submit "Save", class: "btn-primary-sm" %>
          </div>
        <% end %>
        <% if @contest.errors.any? %>
          <div class="pt-2 sm:col-span-2">
            <%= render "layouts/error_messages", errors: @contest.errors %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= link_to contest_schedules_path(@contest), class: "group inline-flex items-center gap-2 text-gray-900 transition-all duration-150 hover:font-bold py-4" do %>
        <span>Schedule</span>
        <svg class="size-4 text-gray-400 opacity-0 group-hover:opacity-100 transition-opacity duration-150" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L12.94 10 8.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      <% end %>
    <% end %>
  </div>
</div>
