<% content_for :title, "Schedule" %>
<div class="py-8 space-y-4">
  <div class="flex justify-between">
    <h1><%= @schedule.contest.name %>
      Schedule</h1>
  </div>

  <div>
    <ol class="list-decimal text-sm">
      <% @schedule.contest.performance_phases&.each do |step| %>
        <li>
          <div class="flex justify-between border-b">
            <div>
              <%= step.name %>
              -
              <%= step.duration %>
              min.
            </div>
            <div>
              <%= step.room.name %>
              -
              <%= step.room.room_number %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div class="flex justify-between pb-2">
  <!-- TODO: user selects start/end times -->
  <%= button_to "Generate contest schedule",
  generate_schedule_path(
    @schedule,
    start_time: @schedule.contest.contest_start.beginning_of_day + (8 * 60 * 60),
    end_time: @schedule.contest.contest_end.beginning_of_day + (17 * 60 * 60),
  ),
  method: :post,
  class: "btn-primary-sm" %>

  <%= button_to "Reset",
  reset_schedule_path(@schedule),
  method: :post,
  class: "btn-danger-sm" %>
</div>

<%= turbo_frame_tag "schedule_day_content" do %>
  <%= render partial: "schedules/days/schedule_blocks",
  locals: {
    schedule: @schedule,
    selected_day: @selected_day,
  } %>
<% end %>
