<tr
  data-sequence-target="step"
  data-new-record="<%= f.object.persisted? ? 'false' : 'true' %>"
>
  <td class="hidden">
    <%= f.hidden_field :id if f.object.persisted? %>
    <%= f.hidden_field :_destroy, data: { sequence_target: "destroy" } %>
  </td>
  <td class="w-12">
    <%= f.text_field :ordinal, class: "text-field" %>
  </td>
  <td>
    <%= f.text_field :name, class: "text-field" %>
  </td>
  <%= f.fields_for :room_block do |room_block_f| %>
    <td class="w-72">
      <%= room_block_f.hidden_field :_destroy,
                                data: {
                                  sequence_target: "roomBlockDestroy",
                                } %>

      <%= room_block_f.select :room_id,
                          rooms.map { |t| [t.name, t.id] },
                          { include_blank: "Room" },
                          { required: true, class: "text-field" } %>
    </td>
    <td class="w-20">
      <%= room_block_f.text_field :duration,
                              class: "text-field text-right",
                              required: true %>
    </td>
  <% end %>
  <td>
    <%= button_tag type: "button",
        class: "btn-danger-sm",
        data: { action: "sequence#removeStep" } do %>
      Delete
    <% end %>
  </td>
</tr>
