<%= form_with(model: user, url: identity_profile_path, class: "simple-form") do |form| %>
  <div>
    <%= form.label :first_name, "First name" %>
    <%= form.text_field :first_name, class: "text-field" %>
  </div>

  <div>
    <%= form.label :last_name, "Last name" %>
    <%= form.text_field :last_name, class: "text-field" %>
  </div>

  <div>
    <%= form.label :time_zone, "Time zone" %>
    <%= form.select :time_zone,
                ActiveSupport::TimeZone
                  .us_zones
                  .sort_by(&:name)
                  .map { |tz| [tz.name, tz.tzinfo.name] },
                { include_blank: "Select a time zone", selected: @user.time_zone },
                { required: true, class: "text-field" } %>
  </div>

  <div class="form-button-container">
    <%= form.submit class: "btn-primary" %>
    <%= link_to "Cancel", root_path, class: "btn-secondary", role: "button" %>
  </div>

  <% if user.errors.any? %>
    <%= render "layouts/error_messages", errors: user.errors %>
  <% end %>
<% end %>
