<div id="<%= dom_id contest_entry %>">
  <%= render partial: "roster/large_ensembles/large_ensemble",
  locals: {
    large_ensemble: contest_entry.large_ensemble,
  } %>

  <% if @contest_entry.has_time_preference? %>
    <div class="mt-4 p-4 bg-blue-50 border border-blue-200 rounded-lg">
      <h3 class="text-sm font-medium text-blue-900 mb-2">Preferred Performance Time</h3>
      <p class="text-sm text-blue-800">
        <% if @contest_entry.full_time_preference? %>
          <%= @contest_entry.preferred_time_start.strftime("%l:%M %p") %>
          -
          <%= @contest_entry.preferred_time_end.strftime("%l:%M %p") %>
        <% elsif @contest_entry.preferred_time_start.present? %>
          After
          <%= @contest_entry.preferred_time_start.strftime("%l:%M %p") %>
        <% elsif @contest_entry.preferred_time_end.present? %>
          Before
          <%= @contest_entry.preferred_time_end.strftime("%l:%M %p") %>
        <% end %>
      </p>
    </div>
  <% end %>

  <%= render "music_selections" %>
</div>
