<div class="py-8" id="show_<%= dom_id @contest_entry %>">
  <div class="flex flex-col sm:flex-row">
    <h1><%= @contest_entry.large_ensemble.name %></h1>

    <% if @contest_entry.user == current_user %>
      <div class="action-button-container">
        <%= link_to "Edit",
        edit_contest_entry_path(@contest_entry.contest, @contest_entry),
        class: "btn-secondary-sm sm:btn-secondary" %>
        <%= button_to "Delete",
        contest_entry_path(@contest_entry.contest, @contest_entry),
        method: :delete,
        class: "btn-danger-sm sm:btn-danger",
        form: {
          data: {
            turbo_confirm: "Are you sure?",
          },
        } %>
      </div>
    <% end %>
  </div>

  <%= render @contest_entry %>
</div>
