<%= form_with(model: organization, class: "wide-form") do |form| %>
  <div class="sm:col-span-2">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-field", autofocus: true %>
  </div>

  <div>
    <%= form.label :organization_type %>
    <%= form.select :organization_type_id,
                OrganizationType.all.map { |t| [t.name, t.id] },
                { include_blank: "Select an organization type" },
                { required: true, class: "text-field", id: :organization_type_id } %>
  </div>

  <div class="form-button-container">
    <%= form.submit class: "btn-primary" %>
    <%= link_to "Cancel", @organization, class: "btn-secondary", role: "button" %>
  </div>

  <% if organization.errors.any? %>
    <div class="pt-2 sm:col-span-2">
      <%= render "layouts/error_messages", errors: organization.errors %>
    </div>
  <% end %>
<% end %>
