<div class="py-8 space-y-4">
  <div class="flex justify-between items-start">
    <h1 class="pr-4"><%= @contest.name %>
      Managers</h1>

    <% if current_user.tenant_admin? %>
      <div class="action-button-container flex-shrink-0">
        <%= link_to "Add Manager",
        new_contest_manager_path(@contest),
        class: "btn-primary whitespace-nowrap" %>
      </div>
    <% end %>
  </div>

  <% if @contest_managers.any? %>
    <div class="pt-4">
      <div class="border border-neutral-200 shadow-2xs overflow-hidden rounded-md">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="
                  px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
                "
              >Name</th>
              <th
                scope="col"
                class="
                  px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
                "
              >Email</th>
              <th scope="col" class="relative px-6 py-3"><span class="sr-only">Actions</span></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @contest_managers.each do |contest_manager| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <%= contest_manager.user.first_name %>
                  <%= contest_manager.user.last_name %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <%= contest_manager.user.email %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <% if current_user.tenant_admin? %>
                    <%= button_to "Remove",
                    contest_manager_path(@contest, contest_manager),
                    method: :delete,
                    class: "btn-danger-sm",
                    form: {
                      data: {
                        turbo_confirm:
                          "Are you sure you want to remove this manager from the contest?",
                      },
                    } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <div class="pt-6">
      <p class="text-gray-500">No managers are currently associated with this contest.</p>
    </div>
  <% end %>
</div>
