<nav class="w-full bg-white border-b border-b-stone-300 shadow">
  <div class="flex items-center">
    <div class="mt-1.5">
      <button
        class="hamburger hamburger--boring"
        type="button"
        onclick="toggleNavMenu()"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="absolute left-1/2 -translate-x-1/2 font-bold">
      <span>
        <% if current_user %>
          <%= link_to "#{current_user.account.name} Contest HQ", root_path %>
        <% else %>
          <%= link_to "Contest HQ", root_path %>
        <% end %>
      </span>
    </div>
  </div>
  <div
    id="nav_menu"
    class="
      absolute hidden w-full pl-2 bg-white border-b border-b-stone-300 shadow z-50
    "
  >
    <div class="p-2 pb-6 space-y-4">
      <% if Current.session %>
        <div class="pt-4">
          <%= link_to "Home", root_path %>
        </div>

        <div>
          <%= link_to "Contests", contests_path %>
        </div>

        <% if current_user.director? %>
          <div>
            <%= link_to "Roster", roster_path %>
          </div>
        <% end %>

        <% if current_user.admin? %>
          <div>
            <%= link_to "Organizations", organizations_path %>
          </div>

          <div>
            <%= link_to "Users", users_path %>
          </div>
        <% end %>

        <div>
          <%= link_to "Settings", settings_path %>
        </div>

        <div>
          <%= button_to sanitize("Sign out &rarr;"),
          session_path(Current.session),
          method: :delete,
          data: {
            turbo: false,
          } %>
        </div>
      <% else %>
        <%= button_to "Sign in", sign_in_path, method: :get %>
      <% end %>
    </div>
  </div>
</nav>

<script>
  function toggleNavMenu() {
    document.querySelector('.hamburger').classList.toggle('is-active');
    document.querySelector('#nav_menu').classList.toggle('hidden');
  }

  // Close nav menu on navigation to new page
  document.addEventListener('turbo:visit', function() {
    document.querySelector('#nav_menu').classList.add('hidden');
    document.querySelector('.hamburger').classList.remove('is-active');
  });
</script>
