<nav class="w-full border-b border-b-stone-300 shadow">
  <div class="flex items-center">
    <div class="mt-1.5">
      <button
        class="hamburger hamburger--boring"
        type="button"
        onclick="toggleNavMenu()"
      >
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="absolute left-1/2 -translate-x-1/2 font-bold">
      <span>
        <%= link_to "Contest HQ", root_path %>
      </span>
    </div>
  </div>
  <div
    id="nav_menu"
    class="
      absolute hidden w-full pl-2 bg-white border-b border-b-stone-300 shadow z-50
    "
  >
    <div class="p-2 pb-6 space-y-4">
      <% if Current.session %>
        <div class="pt-4">
          <%= link_to "Contests", contests_path %>
        </div>

        <% if Current.user.roles.exists?(name: "SysAdmin") %>
          <div>
            <%= link_to "Users", users_path %>
          </div>
        <% end %>

        <div>
          <%= button_to sanitize("Sign out &rarr;"),
          session_path(Current.session),
          method: :delete,
          data: {
            turbo: false,
          } %>
        </div>
      <% else %>
        <%= button_to "Sign in", sign_in_path, method: :get %>
      <% end %>
    </div>
  </div>
</nav>
<script>
  function toggleNavMenu() {
    const hamburger = document.querySelector('.hamburger');
    const nav_menu = document.querySelector('#nav_menu');
    hamburger.classList.toggle('is-active');
    nav_menu.classList.toggle('hidden');
  }

  // Close nav menu on navigation to new page
  document.addEventListener('turbo:visit', function() {
    const hamburger = document.querySelector('.hamburger');
    const nav_menu = document.querySelector('#nav_menu');
    nav_menu.classList.add('hidden');
    hamburger.classList.remove('is-active');
  });
</script>
