<% content_for :title, "Showing account" %>
<div class="py-8" id="show_<%= dom_id @account %>">
  <div class="flex flex-col sm:flex-row">
    <h1><%= @account.name %></h1>

    <div class="action-button-container">
      <%= link_to "Edit", edit_account_path(@account), class: "btn-secondary-sm" %>
    </div>
  </div>

  <%= render @account %>

  <div class="flex flex-col pt-4">
    <strong class="block font-medium mb-1">Users</strong>

    <% @account.users.each do |user| %>
      <div class="flex items-center mb-1">
        <%= user.first_name %>
        <%= user.last_name %>
      </div>
    <% end %>
  </div>
</div>
